/*
font-family: 'Poppins', sans-serif;
*/

//fonts
$font-main: 'Poppins', sans-serif;

//Colors

$red: hsl(0, 100%, 50%);
$white:aliceblue;
$unterfarbe:rgb(90, 9, 9);
$black: #333; 
$header:hsl(0, 63%, 28%) 15%;
$footer: hsl(0, 63%, 28%) 15%;


